
{% extends 'base.html.twig' %}

{% block title %}
  {{ article.title }}
{% endblock %}

{% block body %}
<h1>Login Page</h1>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
