<nav class='navbar navbar-expand-sm navbar-dark bg-primary mb-3'>
  <div class='container'>
  <a href='/' class='navbar-brand'>Symfony CRUD</a>
    <button class='navbar-toggler' type='button' date-toggle='collapse' data-target='#mobile-nav'></button>
    <span class='navbar-toggle-icon'></span>

    <div class='collapse navbar-collapse' id='mobile-nav'>
      <ul class='navbar-nav ml-auto'>
        <li class='nav-item'>
          <a href='/' class='nav-link'>HOME</a>
        </li>
        <li class='nav-item'>
          <a href='/article/new' class='nav-link'>NEW ARTICLE</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
